.linha {
  display: flex;
  align-items: center;
  background-color: #262626;
  padding: 4px;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.cabecalho {
  background-color: black;
}

.linha-responsavel {
  text-align: center;
  width: 15%;
}

.linha-tipo {
  text-align: center;
  width: 15%;
}

.linha-duracao {
  text-align: center;
  width: 15%;
}

.linha-conteudo {
  text-align: center;
  width: 45%;
}

.linha-status {
  text-align: center;
  width: 10%;
}

.cor-status {
  color: #18d81f;
}

.abas {
  display: flex;
}

.abas :not(:first-child) {
  margin-left: 4px;
}

.aba {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  font-size: 24px;
  font-weight: 600;
  padding: 8px 24px 8px 24px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s;
  border: 0;
}

.aba:hover {
  opacity: 0.8;
}

.aba-selecionada {
  opacity: 1;
  
}

/* a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
} */
