
.aba {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  font-size: 24px;
  font-weight: 600;
  padding: 8px 24px 8px 24px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
  border: 0;
  color:black
}

.aba:hover {
  opacity: 0.8;
}

.aba-selecionada {
  opacity: 1;
}