.aba {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: var(--light);
  border-radius: 10px 10px 0px 0px;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 0.8rem 2.4rem;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
  border: 0;
  color: var(--dark);
}

.aba:hover {
  opacity: 0.8;
}

.aba-selecionada {
  opacity: 1;
}
