.user-classes-container {
  height: 100vh;
  width: 100vw;
}

.user-classes-top {
  padding: 9rem;

  display: flex;
  justify-content: space-between;
}

.user-classes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  width: 100%;
  padding: 2rem;

  border-radius: 5rem;
}

.user-classes-header {
  width: 100%;
  border-bottom: 1px solid gainsboro;
}

.user-classes-rows {
  width: 100%;
  gap: 2rem;
}
