.user-classes-container {
  height: 100vh;
  width: 100vw;
}

.user-classes-top {
  padding: 9rem;

  display: flex;
  justify-content: space-between;
}

.user-classes-content {
  padding-left: 6rem;
  padding-right: 6rem;
}
