.user-classes-container {
  height: 100vh;
  width: 100vw;
}

.user-classes-main {
  display: flex;
  flex-direction: column;

  padding: 9rem 8rem 3rem 9rem;
}

.user-classes-top {
  padding: 9rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 970px) {
  .user-classes-top {
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    gap: 2rem;
    padding: 3rem 0;
  }

  .aba {
    font-size: 2rem;
    padding: 0.8rem 2rem;
  }

  .linha-cabecalho h3 {
    font-size: 1.6rem;
  }

  .cabecalho-mobile,
  .linha-mobile {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 2rem;
  }

  .cabecalho-mobile div,
  .linha-mobile div {
    display: flex;
    gap: 1rem;
  }

  .linha-mobile div {
    gap: 3rem;
    margin-right: 1rem;
  }

  .cabecalho-desk,
  .linha-desk {
    display: none;
  }
}

@media only screen and (min-width: 971px) {
  .cabecalho-mobile,
  .linha-mobile {
    display: none;
  }
  .cabecalho-desk,
  .linha-desk {
    display: flex;
  }
}

@media only screen and (max-width: 620px) {
  .user-classes-main {
    padding: 3rem;
  }

  .user-classes-top {
    align-items: center;
  }

  .aba {
    font-size: 1.6rem;
    padding: 0.8rem;
    text-align: center;
    align-items: center;
  }

  .linha-cabecalho,
  .linha {
    padding: 1rem;
    border-radius: 10px;
    margin: 0.5rem 0rem;
    font-weight: normal;
  }

  .cabecalho-mobile h3 {
    font-size: 1.4rem;
  }

  .linha-status input {
    width: 1.4rem;
    height: 1.4rem;
  }
  .linha-conteudo i {
    font-size: 1.6rem;
  }
}
