.header-container {
  background-color: var(--orange2);
  height: 9rem;
  width: 100vw;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  z-index: 2;
}

.header-logo {
  width: 17rem;
  position: absolute;
  top: -0.5rem;
  left: 0;
  margin-left: 5rem;
}

.header-nav {
  display: flex;
  gap: 3rem;
  padding: 7rem;
}

.header-nav i {
  font-size: 4rem;
}

@media only screen and (max-width: 620px) {
  .header-container {
    height: 1.5rem;
  }

  .header-logo {
    width: 7.5rem;
    top: 0;
    left: 0rem;
    margin-left: 1rem;
  }

  .header-container nav {
    display: none;
  }
}
